* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontOne:'Poppins', sans-serif;
  --colorOne:#8855FA;
  --colorTwo:#F08769;
  --colorThree:#F0E43A;
  --colorFour:#beb0de; 
  --colorFive:#6C43C4;
  --colorSix:#C147D1;
  font-size: 62.5%
}
body {
  

  font-family: var(--fontOne);
  background: var(--colorOne);
  color: white;
}
.page {
  height: 100vh;
  margin: 80px;
  text-align: center;
  
}
.container {
  display: flex;
  flex-direction: column;
  gap:70px;

}

.container img {
  display: block;
  align-self: center;
  border-radius: 50%;
  border: 10px solid var(--colorSix);
  
}

img {
  min-width: 30%;
  max-width: 70%;
}

button {
  border: none;
  border-radius: 8px;
  margin-top: 50px;
  padding: 20px;
  font-family: var(--fontOne);
  background-color: #F0E43A;
  color:#6C43C4;
  font-size: 15px;
}

button:hover {
  cursor:grab;

}
#resposta {
  font-size: 3.2rem;
  margin-top: 40px;
  margin-bottom: 10rem;
  color: var(--color1);
  font-family: var(--font-Two);
  transition: opacity 1s;
}
